---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
const api_marvel = import.meta.env.PUBLIC_URL_APIMARVEL;
const token_marvel = import.meta.env.SECRET_TOKEN_APIMARVEL;
const hash = import.meta.env.SECRET_HASH_APIMARVEL;
const ts = import.meta.env.SECRET_TS_APIMARVEL;;


const response = await fetch(`${api_marvel}characters?series=22547&limit=12&ts=${ts}&apikey=${token_marvel}&hash=${hash}`);
const data = await response.json();
const characters = data.data.results;
---

<Layout title="Marvel Project" description="Web ejemplo de desarrollo con temática del universo de Marvel">
	<main>
		<div class="bg-gray-200 text-black mt-4 p-4 text-center font-marvel text-xl dark:bg-gray-600 dark:text-white italic">
			El universo Marvel es un mundo amplio plagado de superhéroes y creado por el difunto "Stan Lee"
		</div>
		<div class="flex flex-wrap container mx-auto justify-center mt-4">
			<div class="text-center w-full md:w-1/4">
				<Image src="/img/stanlee.png" title="Stan Lee" alt="Stan Lee" width="450" height="512"/>
			</div>
			<div class="text-center w-full md:w-3/4 pl-2 pr-2">
				<p class="text-black dark:text-zinc-50 font-marvel text-xl">
					Es principalmente conocido por haber creado personajes icónicos del mundo del cómic tales como Spider-Man, X-Men, Los 4 Fantásticos, Hulk, Iron Man, Thor, Daredevil, Doctor Strange, Black Panther, Ant-Man y Bruja Escarlata, entre otros muchos superhéroes, casi siempre acompañado de los dibujantes Steve Ditko y Jack Kirby. El trabajo de Stan Lee fue fundamental para expandir Marvel Comics, llevándola de una pequeña casa publicitaria a una gran corporación multimedia. Todavía hoy, los cómics de Marvel se distinguen por indicar siempre «Stan Lee presenta» en los rótulos de presentación. También tuvo un programa televisivo en History Channel en donde buscaba superhumanos «reales».
				</p>
			</div>
		</div>
		<div class="flex flex-wrap justify-center mt-4 bg-slate-300 dark:bg-gray-700 gap-x-2 gap-y-2 p-3">
			{
				characters.map(character => (
				<Image class="transition-all duration-500 hover:shadow-lg hover:shadow-white w-32 h-32 rounded-full hover:animate-pulse hover:brightness-125 hover:border-2 hover:-translate-y-5" src={(`${character.thumbnail.path}.${character.thumbnail.extension}`)} alt={character.name} title={character.name} width="32" height="32"/>
				))
				
			}			
		</div>
		<div class="flex flex-wrap justify-center p-1 bg-gray-400 dark:bg-gray-800">
			<iframe class="w-full md:w-1/2 aspect-video rounded-2xl p-1" src="https://www.youtube.com/embed/ldMn-1iQzKE?controls=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
			<div class="w-full md:w-1/2 text-center p-4 font-marvel text-2xl text-black dark:text-slate-50 self-start align-middle">
				<Image class="w-2/3 container mx-auto" src="/img/spiderman-no-way-home.png" width="700" height="272" alt="Spiderman, No Way Home" title="Spiderman, No Way Home" />
				<p>
					Por primera vez en la historia cinematográfica de Spider-Man, nuestro héroe, vecino y amigo es desenmascarado, y por tanto, ya no es capaz de separar su vida normal de los enormes riesgos que conlleva ser un superhéroe. Cuando pide ayuda al Doctor Strange, los riesgos pasan a ser aún más peligrosos, obligándole a descubrir lo que realmente significa ser él. Secuela de 'Spider-Man: Far From Home'.
				</p>
			</div>

		</div>  
	</main>
</Layout>

<style>

</style>
